.footer {
  background-color: #ffcc80;
  padding: 20px;
}

.section-1 {
  background-color: #ff4f0e;
  border-radius: 20px;
  padding: 20px;
  margin: 50px auto 40px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  transition-duration: 600ms;
  position: relative;
  transform-style: preserve-3d;
}

.section-1:hover {
  transform: perspective(500px) translateZ(30px);
  border: 2px solid orange;
}

.footer-border {
  background-color: #d26d6d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition-delay: 0.3s;
  transition-duration: 600ms;
}

.section-1:hover .footer-border {
  transform: perspective(500px) translateZ(10px);
  background-color: orange;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.ratingContainer {
  display: flex;
  align-items: center;
}

.ratingIcon {
  font-size: 20px;
  color: #ff9800;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  font-size: 14px;
}

.Typography {
  font-size: 14px;
}

#subscribe-box {
  display: flex;
  align-items: center;
  background-color: #ff9800;
  border-radius: 4px;
  padding: 8px;
}

#subscribe-input {
  flex: 1;
  padding-left: 8px;
}

.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1080px) {
  .footer-navbar {
    display: flex;
    flex-direction: column;
  }

  .bottom-logo {
    margin-right: 100px;
  }

  .social-icons {
    margin-left: 80px;
  }
}

@media (max-width: 720px) {
  .subscribe-container {
    display: none;
  }
}

@media (max-width: 480px) {
  .icon-row {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
  }

  .googleplay-icon {
    margin-bottom: -100px;
    position: relative;
    bottom: 100px;
    right: 5px;
  }
}
