.popular-travelers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 200px;
}

.orange-line {
  width: 50%;
  border-bottom: 2px solid orange;
}

.user-images {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.user-image {
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  border-radius: 50%;
  overflow: hidden;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-image {
  width: 80%;
  margin-left: -20px;
}

.user-images {
  display: flex;
  gap: -15px;
  margin-top: 20px;
}

.user-image {
  width: 30px;
  height: 30px;
  background-color: #f3f3f3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-text {
  margin-left: 250px;
}

@media (max-width: 1080px) {
  .popular-travelers-container {
    padding-top: 200px;
  }

  .popular-text {
    margin-left: 50px;
  }

  .user-images {
    margin-top: 10px;
    padding-right: 120px;
  }

  .user-image {
    width: 30px;
    height: 30px;
  }

  .mobile-image {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
